window.OSD,
.OSD {
  background-color: transparent;

  .osd-shell {
    @include elevation-2;
    border-radius: 24px;
    background-color: color-mix(in srgb, #{$osd_bg} 82%, transparent);
    padding: 13px 16px;
    margin: 50px;
  }

  image {
    padding: 12px;
  }

  levelbar {
    trough {
      margin: 0.6rem;
    }

    block {
      min-height: 2rem;
    }
  }
}
